body, button {
    font-family: monospace;
    font-size: 16px;
}

button {
    margin: 20px;
    padding: 7px 10px;
    background-color: red;
    border: none;
}

:root {
    --div-width: 50px;
  }

#container {
    margin: auto;
    width: 50%;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

#userInput {
    margin: auto;
    text-align: center;
    padding: 20px;
}

#square {
    box-sizing: border-box;
    width: var(--div-width);
    aspect-ratio : 1 / 1;
}