:root {
    --div-width: 50px;
  }

#container {
    margin: auto;
    width: 50%;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

#userInput {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 20px;

}

#square {
    background-color: blue;
    border: 1px solid #73AD21;
    box-sizing: border-box;
    width: var(--div-width);
    aspect-ratio : 1 / 1;
}